body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4609AE /* Optional: Change to match your game's theme */
}

/* #sound{
    width: 30px;
    height : 30px;
    cursor: pointer;
    position: absolute;
    top : 465px;
    left : 15px;
} */
.canvas-container {
    width: 300px;
    height: 600px;
    position: relative; /* Centering the canvas inside this container */
}

canvas {
    display: block; /* Prevents any unnecessary scrollbars */
    background-color: #fff; /* Or any color that matches your game's background */
}
#gameover{
    position: absolute;
    width : 400px;
    height: 500px;
    background: rgba(0,0,0,0.5);
    display: none;
}
#youwon{
    width: 100px;
    position: absolute;
    top : 200px;
    left : 150px;
    display: none;
}
#youlose{
    width:400px;
    position: absolute;
    top: 100px;
    left : 0px;
    display: none;
}
#restart{
    position: absolute;
    top: 310px;
    left : 155px;
    cursor: pointer;
    font-size: 1.25em;
    color : #FFF;
}
